<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reCaptcha for .Net Framework</title>
    <script src='https://www.google.com/recaptcha/api.js?hl=tr'></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>