@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <!--recaptcha-->
    <div class="clearfix">
        <div class="g-recaptcha" data-sitekey="site-key"></div>
    </div>
    <div style="">
        <h6 style="color: red"> @TempData["Message"]</h6>
    </div>
    <div class="quform-submit">
        <div class="quform-submit-inner">
            <button type="submit"
                    class="submit-button">
                Gönder
            </button>
        </div>
        <div class="quform-loading-wrap">
            <span class="quform-loading"></span>
        </div>
    </div>
}